@media (prefers-color-scheme: light) {
  :root {
    --sf-text: #020608;
    --sf-background: #fbfdfe;
    --sf-primary: #3a84d9;
    --sf-secondary: #e67fc2;
    --sf-accent: #e16666;
  }
}
@media (prefers-color-scheme: dark) {
  :root {
    --sf-text: #f7fbfd;
    --sf-background: #010304;
    --sf-primary: #2670c5;
    --sf-secondary: #80195c;
    --sf-accent: #991e1e;
  }
}
