@import url('https://fonts.googleapis.com/css?family=Poppins:700|Poppins:600|Poppins:400');

body {
	font-family: 'Poppins';
	font-weight: 400;
  font-size: 16px;
	line-height: 1.5;
	text-align: left;
}
